.masonry-list {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.masonry-item-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 6px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.masonry-item-wrapper > .masonry-item-img {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.masonry-title-wrapper {
  cursor: default;
}

.masonry-title-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: var(--border-medium, 2px solid #000);
  background: var(--container-color, #fff);
  border-radius: 10px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.masonry-title-text {
  font-size: var(--h3-font-size, 1.25rem);
  font-family: var(--heading-font, sans-serif);
  font-weight: var(--font-semi-bold, 600);
  letter-spacing: 1px;
  color: var(--title-color, #000);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
